#content {
    margin: 0 auto;
    max-width: 960px;
    background-color: #2cc7ab;
    }

h1, h2{
   font-family: serif;
   font-size: 32px;
   color: black;    
}
body{
    background-color: rgb(175, 189, 190);
}
